@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4e3w9c');
  src:  url('../fonts/icomoon.eot?4e3w9c#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4e3w9c') format('truetype'),
    url('../fonts/icomoon.woff?4e3w9c') format('woff'),
    url('../fonts/icomoon.svg?4e3w9c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
  font-size: 36px;
  color: #ffc107;
}
.icon-location:before {
  content: "\e947";
  color: #e96656;
  font-size: 36px;
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-facebook:before {
  content: "\ea90";
  font-size: 36px;
  color: #2372a3;
}
.icon-whatsapp:before {
  content: "\ea93";
  font-size: 36px;
  color: #25d366;
}




/******************************************GENERAL**********************************************/
body
{
  margin: 0px;
  padding: 0px;
  background: #e7e7e8;
  top: 0px;
}

.u_wrapper
{
  max-width: 800px;
  margin: auto;
  position: relative;
}

.burguer-button
{
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: #00834f;
  color: white;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 3;
  display: none;
}

.menu {
  background-color: rgba(130, 178, 62, 1);
  font-family: 'Roboto', sans-serif;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  text-align: center;
  list-style: none;
  margin: 0px;

  padding: 10px;
  box-sizing: border-box;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.form-contacto {
  background: #82b23e;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.form-contacto h1 {
  font-size: 44px;
  padding-top: 5%;
  color: #fff;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.inputs input {
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 12px;
}

.text-area {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2%;
}

.text-area textarea {
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;

}

.btn-env-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}

.btn-env-form input {
  background: #e12229;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 24px;
  border: none;
  width: 95%
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  background: #272727;
}

footer a {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  text-decoration: none;
 padding: 15px;
 box-sizing: border-box;
}

footer a .txt-f {
 color: #939393; 
 font-family: 'Roboto', sans-serif;
}

/***********************************************INDEX*************************************************/
.container-slider {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.slider {
  overflow: hidden;
}

.container-slider ul {
  margin: auto;
  list-style: none;
  padding: 0px;
  width: 300%;

  display: flex;

  animation: change 10s infinite;
  animation-direction: alternate; 
}

@keyframes change {
  0% { margin-left: 0; }
  20% { margin-left: 0; }

  30% { margin-left: -100%; }
  50% { margin-left: -100%; }

  70% { margin-left: -200%; }
  100% { margin-left: -200%; }
}

.container-slider ul li{
  width: 100%;
}

.container-slider ul li img {
  width: 100%;
}

.bolsitaHero p {
  font-size: 24px;
  text-align: center;
}

.btn-cotizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.btn-cotizar a {
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  background: orange;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 5%;
}

.productos h1 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container-productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;

  font-family: 'Montserrat', sans-serif;
  text-align: center;

  padding: 15px;
  box-sizing: border-box;
  margin: auto;
}

.producto img {
  width: 90%;
}


/********************************************************SECCION NOSOTROS****************************************************/
.Redi {
  height: auto;
  background-image: url(../images/background.jpg);
}

.container-logo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.container-logo2 img {
  width: 30%;
  padding-bottom: 5%;
  padding-top: 3%;
}

.content {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  
  background-color: rgba(255, 255, 255, .2);
  
  padding: 5px;
  box-sizing: border-box;
}

.content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
}

.content p {
  margin-bottom: 10%;
}

.hojas {
  width: 100%;
  position: absolute;
}

.valores {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 10px;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  margin: auto;
}

.valores img {
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 20%;
  width: 90%;
}

.val1, .val4 {
  background-color: #2cbf5c;
  padding: 35px;
  box-sizing: border-box;
}

.val2, .val3 {
  background-color: #00834f;
  padding: 35px;
  box-sizing: border-box;
}


/********************************************************SECCION PRODUCTOS****************************************************/
table {
  width: 800px;
}
th {
  background-color: rgba(130, 178, 62, .9);
  color: white;
}
th {
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
}
td {
  padding: 20px;
}
table, td, th {
  border: 1px solid #273b47;
  border-collapse: collapse;
}

tr img {
  width: 100%;
}




/***********************************************************CORREO*************************************************************/
.correo {
  background-image: url(../images/background.jpg);
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.correo img {
  width: 70%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.btn-correo a {
  background-color: #00834f;
  padding: 15px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
}








/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||RESPPONSIVE DESIGNE|||||||||||||||||||||||||||||||||||||||||||*/

/*****************************************************************IPAD****************************************************/
@media screen and (max-width: 770px) {

    .container-logo2 img {
    width: 80%;
  }

    .inputs {
    grid-template-columns: 1fr;
    width: 90%;
  }


  .text-area {
    width: 90%;
  }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .tabla
  {
    margin: 50px 20px 50px 20px;
  }

  .tabla .contenedor
  {
    overflow: auto;
  }
  
}




/*******************************************************************IPAD MINI*********************************************/
@media screen and (max-width: 650px) {
  
}





/*******************************************************************SMARTPHONE*********************************************/
@media screen and (max-width: 500px) {

    .container-logo2 {
      margin-top: 0px;
    }

    .burguer-button {
      display: block;
      }

     .menu.active {
      left: 0;
      transition: .5s;
    }

    .menu {
      background: rgba(130, 178, 62, .85);
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: -100%;
      z-index: 2;
      display: flex;
      align-items: center;
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
     }

    .menu ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 95%;
      text-align: center;
      font-size: 24px;
    }

    .menu li {
      display: block;
      margin: 0px;
      padding: 8px 0;
      border-bottom: 1px solid white;
      padding: 25px;
      box-sizing: border-box;
    }

    .menu li:before {
      display: none;
    }

    .menu li:first-child {
      border-top: 1px solid white;
    }

    .valores {
      grid-template-columns: 1fr;

    }

    .val1, .val3 {
      background-color: #2cbf5c;
      padding: 35px;
      box-sizing: border-box;
    }

    .val2, .val4 {
      background-color: #00834f;
      padding: 35px;
      box-sizing: border-box;
    }

    footer {
      grid-template-columns: 1fr;
    }
  
}






























